//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}ViewController: BaseViewController {

    // MARK: Properties
    private let viewModel: {{ module_info.name }}ViewModel

    private lazy var rootView: {{ module_info.name }}View = {
        let view = {{ module_info.name }}View()
        return view
    }()
    
    // MARK: Initialization
    init(viewModel: {{ module_info.name }}ViewModel) {
        self.viewModel = viewModel
        super.init()
    }
    
    // MARK: Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
    }

}
